/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */
    
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
    .text {
        display: none;
    }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
    footer .icons {
        width: 67%;
    }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
    #logo {
        margin: 150px auto;
        width: 71.8%;
    }

    footer .icons {
        width: 90%;
    }
}

/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
}
/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    /* Styles */
    .text {
        display: none;
    }

    footer .icons {
        width: 54.2%;
    }
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    .container {
        width: auto;
    }

    .text {
        display: none;
    }

    #logo {
        width: 41.8%;
        margin: 30px auto;
    }

    footer {
        width: 100%;
    }

    footer .icons {
        width: 52%;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    .container {
        width: auto;
    }

    .text {
        display: none;
    }

    #logo {
        width: 62.8%;
        margin: 20px auto;
    }

    article {
        margin: 2%;
        font-size: smaller;
    }

    footer {
        width: 100%;
    }

    footer .icons {
        padding: 0;
        width: 78%;
    }
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
    .container {
        width: auto;
    }

    .text {
        display: none;
    }

    #logo {
        width: 41.8%;
        margin: 30px auto;
    }

    footer {
        width: 100%;
    }

    footer .icons {
        width: 44%;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
    .container {
        width: auto;
    }

    .text {
        display: none;
    }

    #logo {
        width: 62.8%;
        margin: 20px auto;
    }

    article {
        margin: 2%;
        font-size: smaller;
    }

    footer {
        width: 100%;
    }

    footer .icons {
        padding: 0;
        width: 78%;
    }
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
    .container {
        width: auto;
    }

    .text {
        display: none;
    }

    #logo {
        width: 31.8%;
        margin: 70px auto;
    }

    footer {
        width: 100%;
    }

    footer .icons {
        width: 38%;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
    .container {
        width: auto;
    }

    .text {
        display: none;
    }

    #logo {
        width: 61.8%;
        margin: 40px auto;
    }

    article {
        margin: 2%;
        font-size: medium;
    }

    footer {
        width: 100%;
    }

    footer .icons {
        padding: 0;
        width: 67%;
    }
}


/* TODO: iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */ 
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
    footer .icons {
        padding: 0;
        width: 39%;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
    footer .icons {
        padding: 0;
        width: 70%;
    }
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
    footer .icons {
        padding: 0;
        width: 39%;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
    footer .icons {
        padding: 0;
        width: 70%;
    }
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
    footer .icons {
        padding: 0;
        width: 39%;
    }
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
    footer .icons {
        padding: 0;
        width: 70%;
    }
}


@media screen and (max-device-width: 800px) {
    body { 
        background: url(snowboarding.jpg) #000 no-repeat center center fixed;
    }

    #bgvid, .controls, nav { 
        display: none; 
    }
}
